@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header {
    padding: 30px;
    font-size: 35px;
    text-align: center;
    background: white;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.back {
    margin: 1em;
    font-size: 150%;
    text-align: center;
}

